body {
    background-image: url("/media/cosmic-dark-age.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: auto;
    width: 90%;
    
}

.content-container{
    background-color: white;
    padding: 1em;
}
/* a {
    text-decoration: none;
    color: #3b6384;
}
a:hover {
    text-decoration: underline;
} */


a:link { /* unvisited link */
  color: #3b6384;
}

a:visited { /* visited link */
  color: #3b3f84;
}

a:hover { /* mouse over link */
  color: #3b8480;
}

a:active { /* selected link */
  color: #3b8480;
}

.nav-links ul {
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    padding: 0px;
    list-style: none;
}

.nav-links ul li {
    display: inline;
    margin-right: 20px;
    color: #ccc;
}

.nav-links ul li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 3em;
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
}
p {
    /* font-size: 1.5em;
    line-height: 1.4em; */
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
li {
    line-height: 1.4em;
}
.fancy-list > li {
    color: #016d18;
    font-size: 1.2em;
    line-height: 1.6em;
}

figcaption p {
    color: #016d18;
    font-size: 0.8em;
}

.img-container {
    display: flex;
}

.img-container figure {
    flex: 50%;
    padding: 0;
    margin: 5px;
}