<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }} | RAD Kits</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/en/">Home</a></li>
		        	<li><a href="/en/usage">Using the RAD Kit</a></li>
	        		<li><a href="/en/science">Science</a></li>
                    <li><a href="/en/guide">Activity Guide</a></li>
                    <li><a href="/en/order">Order</a></li>
                    <li><a href="/fr/">Français</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:felix.st-amour@mail.mcgill.ca">Email</a></li>
	        		<li><a href="https://github.com/Radio-Astronomy-Demonstration/">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>